<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
<>
<form>
  Tick to know:
  <input type="radio" ng-model="myVar" value="dogs">Me
  <input type="radio" ng-model="myVar" value="tuts">Hobbies
  <input type="radio" ng-model="myVar" value="cars">Education
</form>

<div ng-switch="myVar">
  <div ng-switch-when="me">
     <h1>Me</h1>
     <p>Welcome to my profile.</p>
  </div>
  <div ng-switch-when="hobbies">
     <h1>Hobbies</h1>
     <p> I am fond of Sketching.<br>
          I also love to play cricket.</p>
  </div>
  <div ng-switch-when="education">
     <h1>Education</h1>
     <p>I am an  IT Engineer. Still a bachelor.</p>
  </div>
</div>

<p>Stay tuned to know more .</p>

</body>
</html>
